# Example Environment Variables (replace with your own values!)

# OpenAI API Key 
# @see docs https://help.openai.com/en/articles/9186755-managing-your-work-in-the-api-platform-with-projects#h_79e86017fd
OPENAI_KEY=example-openai-key